{% render 'partials/head.liquid' %}

<div class="container">
<header>
    <h1>{{ person.name }}</h1>
    <img id="picture-of-me" src="/IMG_2970.jpg" alt="picture of me" />
</header>

<main>
    <ul>
          <li>{{ person.birthdate | date: "%d-%m-%Y"}}</li>
          <li>{{ person.bio }}</li>
          <li>{{ person.custom.woonplaats }}</li>
          <li>VWO diploma gehaald</li>
          <li>Bijbaan bloemen</li>
          <li>FDND @ HVA</li>
          <li>Houdt van gezelligheid</li>
          <li>Zit op kickboxen</li>
    </ul>
</main>
</div>

{% render 'partials/foot.liquid' %}
